<h1>Returning  Book</h1>

<%= form_with(model: @loan, local: true) do |form| %>
<div class="actions">
  <%= form.submit "Return" %>
</div>
<% end %>

<%= link_to 'Show', @loan %> |
<%= link_to 'Back', loans_path %>
